<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eft_1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{65,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,66}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>eft_1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,66}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>eft_1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{61,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{61,66}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>eft_1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,70},{45,66}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{45,66}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>eft_1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{13,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{13,66}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>eft_1_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{45,66}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{45,66}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game01.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b11cea843f52bf4e3824b07b33763ae$</string>
            <key>textureFileName</key>
            <string>game01.png</string>
        </dict>
    </dict>
</plist>
