<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>base_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,318},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,51},{148,148}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>base_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{142,144}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,54},{142,144}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>base_10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{206,158}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,43},{206,158}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>base_10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,176}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{250,176}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>base_10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{186,162}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,49},{186,162}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>base_10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,318},{184,160}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,51},{184,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>base_20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,162},{196,154}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,47},{196,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>batterybase.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f078bdbb22950127c33539a06736ded8$</string>
            <key>textureFileName</key>
            <string>batterybase.png</string>
        </dict>
    </dict>
</plist>
