<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_100011.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,24},{90,32}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,59},{90,32}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bullet_100021.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,172},{64,32}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,58},{64,32}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bullet_100031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{130,40}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,55},{130,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bullet_100041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{76,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,51},{76,46}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bullet_100051.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,116},{120,36}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{120,36}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bullet_100061.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{120,34}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,57},{120,34}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bullet_1014.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,58},{86,56}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,46},{86,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bullet_200011.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{92,20}}</string>
                <key>offset</key>
                <string>{-17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,64},{92,20}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bullet_200012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,56}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{138,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bullet_300011.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,154},{120,26}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{120,26}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bullet_300012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{128,32}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,59},{128,32}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d40e46e59a5bba3832ae0d28f802ed3a$</string>
            <key>textureFileName</key>
            <string>bullet.png</string>
        </dict>
    </dict>
</plist>
