<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,182},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>face_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,159},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>face_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>face_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,159},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>face_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,158},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>face_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,135},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>face_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>face_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,135},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>face_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,134},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>face_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,111},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>face_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>face_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,111},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>face_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,110},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>face_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,86},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>face_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,86},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>face_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>face_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,86},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>face_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,61},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>face_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,61},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>face_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,61},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>face_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,32},{33,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,27}}</string>
                <key>sourceSize</key>
                <string>{33,27}</string>
            </dict>
            <key>face_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{33,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,26}}</string>
                <key>sourceSize</key>
                <string>{33,26}</string>
            </dict>
            <key>face_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{34,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,28}}</string>
                <key>sourceSize</key>
                <string>{34,28}</string>
            </dict>
            <key>face_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>face_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{35,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,28}}</string>
                <key>sourceSize</key>
                <string>{35,28}</string>
            </dict>
            <key>face_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,32},{33,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,27}}</string>
                <key>sourceSize</key>
                <string>{33,27}</string>
            </dict>
            <key>face_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{33,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,27}}</string>
                <key>sourceSize</key>
                <string>{33,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>face.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:609f84b999ed93f7488d029ea6c68791$</string>
            <key>textureFileName</key>
            <string>face.png</string>
        </dict>
    </dict>
</plist>
