<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish38_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1143},{135,136}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{135,136}}</string>
                <key>sourceSize</key>
                <string>{139,160}</string>
            </dict>
            <key>fish38_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,997},{113,160}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{113,160}}</string>
                <key>sourceSize</key>
                <string>{139,160}</string>
            </dict>
            <key>fish38_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,938},{113,156}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{113,156}}</string>
                <key>sourceSize</key>
                <string>{139,160}</string>
            </dict>
            <key>fish38_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1026},{115,146}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{115,146}}</string>
                <key>sourceSize</key>
                <string>{139,160}</string>
            </dict>
            <key>fish38_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1106},{115,138}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{115,138}}</string>
                <key>sourceSize</key>
                <string>{139,160}</string>
            </dict>
            <key>fish38_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1361},{113,134}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{113,134}}</string>
                <key>sourceSize</key>
                <string>{139,160}</string>
            </dict>
            <key>fish38_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1223},{121,136}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{121,136}}</string>
                <key>sourceSize</key>
                <string>{139,160}</string>
            </dict>
            <key>fish38_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1223},{137,136}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{137,136}}</string>
                <key>sourceSize</key>
                <string>{139,160}</string>
            </dict>
            <key>fish38_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1067},{137,144}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{137,144}}</string>
                <key>sourceSize</key>
                <string>{139,160}</string>
            </dict>
            <key>fish38_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1053},{133,150}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{133,150}}</string>
                <key>sourceSize</key>
                <string>{139,160}</string>
            </dict>
            <key>fish38_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,938},{127,156}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{127,156}}</string>
                <key>sourceSize</key>
                <string>{139,160}</string>
            </dict>
            <key>fish38_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,874},{119,160}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{119,160}}</string>
                <key>sourceSize</key>
                <string>{139,160}</string>
            </dict>
            <key>fish38_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{115,160}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{115,160}}</string>
                <key>sourceSize</key>
                <string>{139,160}</string>
            </dict>
            <key>fish38_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1112},{109,160}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{109,160}}</string>
                <key>sourceSize</key>
                <string>{139,160}</string>
            </dict>
            <key>fish38_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,995},{109,160}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{109,160}}</string>
                <key>sourceSize</key>
                <string>{139,160}</string>
            </dict>
            <key>fish5_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1249},{60,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{60,56}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>fish5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1135},{62,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{62,54}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>fish5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1191},{62,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{62,52}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>fish5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1079},{62,54}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{62,54}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>fish5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1017},{60,64}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,16},{60,64}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>fish5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1026},{60,72}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,12},{60,72}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>fish5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1080},{56,86}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{56,86}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>fish5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1138},{56,92}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,1},{56,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>fish5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1022},{56,86}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,4},{56,86}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>fish5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,959},{56,66}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,14},{56,66}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>fish7_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,951},{81,69}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{81,69}}</string>
                <key>sourceSize</key>
                <string>{111,109}</string>
            </dict>
            <key>fish7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,874},{81,75}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{81,75}}</string>
                <key>sourceSize</key>
                <string>{111,109}</string>
            </dict>
            <key>fish7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1088},{77,71}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,19},{77,71}}</string>
                <key>sourceSize</key>
                <string>{111,109}</string>
            </dict>
            <key>fish7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,880},{77,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,21},{77,67}}</string>
                <key>sourceSize</key>
                <string>{111,109}</string>
            </dict>
            <key>fish7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1304},{79,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{79,57}}</string>
                <key>sourceSize</key>
                <string>{111,109}</string>
            </dict>
            <key>fish7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,774},{85,47}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,31},{85,47}}</string>
                <key>sourceSize</key>
                <string>{111,109}</string>
            </dict>
            <key>fish7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,234},{87,45}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,32},{87,45}}</string>
                <key>sourceSize</key>
                <string>{111,109}</string>
            </dict>
            <key>fish7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,323},{87,41}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,34},{87,41}}</string>
                <key>sourceSize</key>
                <string>{111,109}</string>
            </dict>
            <key>fish7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1196},{83,51}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,29},{83,51}}</string>
                <key>sourceSize</key>
                <string>{111,109}</string>
            </dict>
            <key>fish7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1245},{81,57}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{81,57}}</string>
                <key>sourceSize</key>
                <string>{111,109}</string>
            </dict>
            <key>fish_16_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,274},{256,141}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{256,141}}</string>
                <key>sourceSize</key>
                <string>{300,181}</string>
            </dict>
            <key>fish_16_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{258,143}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{258,143}}</string>
                <key>sourceSize</key>
                <string>{300,181}</string>
            </dict>
            <key>fish_16_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{254,129}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,20},{254,129}}</string>
                <key>sourceSize</key>
                <string>{300,181}</string>
            </dict>
            <key>fish_16_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,415},{254,137}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,17},{254,137}}</string>
                <key>sourceSize</key>
                <string>{300,181}</string>
            </dict>
            <key>fish_16_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,272},{260,141}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{260,141}}</string>
                <key>sourceSize</key>
                <string>{300,181}</string>
            </dict>
            <key>fish_16_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{264,139}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{264,139}}</string>
                <key>sourceSize</key>
                <string>{300,181}</string>
            </dict>
            <key>fish_16_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{268,139}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{268,139}}</string>
                <key>sourceSize</key>
                <string>{300,181}</string>
            </dict>
            <key>fish_16_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,137}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{270,137}}</string>
                <key>sourceSize</key>
                <string>{300,181}</string>
            </dict>
            <key>fish_16_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{270,135}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{270,135}}</string>
                <key>sourceSize</key>
                <string>{300,181}</string>
            </dict>
            <key>fish_16_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,139},{268,131}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{268,131}}</string>
                <key>sourceSize</key>
                <string>{300,181}</string>
            </dict>
            <key>fish_16_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,143},{262,129}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{262,129}}</string>
                <key>sourceSize</key>
                <string>{300,181}</string>
            </dict>
            <key>fish_16_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,417},{254,127}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,21},{254,127}}</string>
                <key>sourceSize</key>
                <string>{300,181}</string>
            </dict>
            <key>fish_203_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,554},{242,152}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,19},{242,152}}</string>
                <key>sourceSize</key>
                <string>{300,206}</string>
            </dict>
            <key>fish_203_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,704},{240,154}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,24},{240,154}}</string>
                <key>sourceSize</key>
                <string>{300,206}</string>
            </dict>
            <key>fish_203_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,546},{250,156}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,18},{250,156}}</string>
                <key>sourceSize</key>
                <string>{300,206}</string>
            </dict>
            <key>fish_203_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,460},{248,156}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,16},{248,156}}</string>
                <key>sourceSize</key>
                <string>{300,206}</string>
            </dict>
            <key>fish_203_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{232,158}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,25},{232,158}}</string>
                <key>sourceSize</key>
                <string>{300,206}</string>
            </dict>
            <key>fish_203_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,774},{226,162}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{226,162}}</string>
                <key>sourceSize</key>
                <string>{300,206}</string>
            </dict>
            <key>fish_203_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,860},{224,164}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{224,164}}</string>
                <key>sourceSize</key>
                <string>{300,206}</string>
            </dict>
            <key>fish_203_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,234},{224,166}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,22},{224,166}}</string>
                <key>sourceSize</key>
                <string>{300,206}</string>
            </dict>
            <key>fish_203_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{230,168}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,19},{230,168}}</string>
                <key>sourceSize</key>
                <string>{300,206}</string>
            </dict>
            <key>fish_203_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,708},{236,164}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,19},{236,164}}</string>
                <key>sourceSize</key>
                <string>{300,206}</string>
            </dict>
            <key>fish_203_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{240,160}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{240,160}}</string>
                <key>sourceSize</key>
                <string>{300,206}</string>
            </dict>
            <key>fish_203_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,618},{246,154}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,17},{246,154}}</string>
                <key>sourceSize</key>
                <string>{300,206}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish10.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84aafa61e8f2fb9c81dfbbd73d9757d7$</string>
            <key>textureFileName</key>
            <string>fish10.png</string>
        </dict>
    </dict>
</plist>
