<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish35_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,828},{343,320}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{343,320}}</string>
                <key>sourceSize</key>
                <string>{343,330}</string>
            </dict>
            <key>fish35_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,735},{343,326}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{343,326}}</string>
                <key>sourceSize</key>
                <string>{343,330}</string>
            </dict>
            <key>fish35_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1150},{343,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,330}}</string>
                <key>sourceSize</key>
                <string>{343,330}</string>
            </dict>
            <key>fish35_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1497},{343,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,330}}</string>
                <key>sourceSize</key>
                <string>{343,330}</string>
            </dict>
            <key>fish35_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1152},{343,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,330}}</string>
                <key>sourceSize</key>
                <string>{343,330}</string>
            </dict>
            <key>fish35_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1497},{343,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,330}}</string>
                <key>sourceSize</key>
                <string>{343,330}</string>
            </dict>
            <key>fish35_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1152},{343,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,330}}</string>
                <key>sourceSize</key>
                <string>{343,330}</string>
            </dict>
            <key>fish35_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{343,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,330}}</string>
                <key>sourceSize</key>
                <string>{343,330}</string>
            </dict>
            <key>fish35_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,828},{343,320}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{343,320}}</string>
                <key>sourceSize</key>
                <string>{343,330}</string>
            </dict>
            <key>fish35_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1495},{343,324}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{343,324}}</string>
                <key>sourceSize</key>
                <string>{343,330}</string>
            </dict>
            <key>fish35_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,390},{343,328}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{343,328}}</string>
                <key>sourceSize</key>
                <string>{343,330}</string>
            </dict>
            <key>fish35_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,1150},{343,320}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{343,320}}</string>
                <key>sourceSize</key>
                <string>{343,330}</string>
            </dict>
            <key>fish35_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,1495},{343,320}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{343,320}}</string>
                <key>sourceSize</key>
                <string>{343,330}</string>
            </dict>
            <key>fish35_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,1080},{343,318}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{343,318}}</string>
                <key>sourceSize</key>
                <string>{343,330}</string>
            </dict>
            <key>fish35_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,828},{343,320}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{343,320}}</string>
                <key>sourceSize</key>
                <string>{343,330}</string>
            </dict>
            <key>fish35_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,828},{343,320}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{343,320}}</string>
                <key>sourceSize</key>
                <string>{343,330}</string>
            </dict>
            <key>fish70_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{504,404}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,23},{504,404}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>fish70_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,404},{520,422}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,12},{520,422}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>fish70_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,390},{530,436}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{530,436}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>fish70_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,2},{560,386}}</string>
                <key>offset</key>
                <string>{-8,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,62},{560,386}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>fish70_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{586,400}}</string>
                <key>offset</key>
                <string>{-7,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{586,400}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>fish70_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{594,410}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{594,410}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NPC01.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2608063811a02dd2b94d4149b023dc9c$</string>
            <key>textureFileName</key>
            <string>NPC01.png</string>
        </dict>
    </dict>
</plist>
