<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish70_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{592,444}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{592,444}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>fish70_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{588,420}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{588,420}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>fish70_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{586,430}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{586,430}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>fish70_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,592},{584,440}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{584,440}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>fish85_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,1455},{421,466}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{421,466}}</string>
                <key>sourceSize</key>
                <string>{445,508}</string>
            </dict>
            <key>fish85_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,425},{421,460}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,23},{421,460}}</string>
                <key>sourceSize</key>
                <string>{445,508}</string>
            </dict>
            <key>fish85_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1034},{421,466}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,52},{421,466}}</string>
                <key>sourceSize</key>
                <string>{445,572}</string>
            </dict>
            <key>fish85_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1036},{421,466}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{421,466}}</string>
                <key>sourceSize</key>
                <string>{445,508}</string>
            </dict>
            <key>fish85_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{421,468}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,21},{421,468}}</string>
                <key>sourceSize</key>
                <string>{445,508}</string>
            </dict>
            <key>fish85_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1034},{419,468}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,24},{419,468}}</string>
                <key>sourceSize</key>
                <string>{445,508}</string>
            </dict>
            <key>fish85_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1504},{415,462}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{415,462}}</string>
                <key>sourceSize</key>
                <string>{445,508}</string>
            </dict>
            <key>fish85_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1457},{413,456}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,35},{413,456}}</string>
                <key>sourceSize</key>
                <string>{445,508}</string>
            </dict>
            <key>fish85_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,425},{415,448}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,39},{415,448}}</string>
                <key>sourceSize</key>
                <string>{445,508}</string>
            </dict>
            <key>fish85_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,848},{417,448}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,38},{417,448}}</string>
                <key>sourceSize</key>
                <string>{445,508}</string>
            </dict>
            <key>fish85_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,1457},{421,454}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,30},{421,454}}</string>
                <key>sourceSize</key>
                <string>{445,508}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NPC02.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddcc59710bfde003bcb54d90d6e1ccb1$</string>
            <key>textureFileName</key>
            <string>NPC02.png</string>
        </dict>
    </dict>
</plist>
